.locations {
	position: relative;
	width: 100%;
}

.amenities {
	position: relative;
	width: 100%;
}

.popover {
	display: none;
	color: #FAFAFA;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
}

h2 {
	font-size: 16px;
}
